.cellWithDivider {
  border-left: 1px solid #e0e0e0;

  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
}

.title {
  padding: 15px 24px 15px;
}

.header {
  background: #e9eaeb;
  border: 1px solid #e0e0e0;
  padding: 6px 12px;
}

.editButton {
  border-radius: 33px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  font-family: heebo;
  font-weight: lighter;
  margin-left: 24px;
}


